# Web & Server
fastapi
uvicorn[standard]
requests
python-dotenv
pydantic
python-multipart

# PDF & Text Processing
PyMuPDF
langchain
langchain-community
langchain-text-splitters

# AI & Vector DB
groq
SQLAlchemy
pgvector
psycopg2-binary

# Evaluation
rouge-score
